body {
    background-color: #f4f4f4;
    padding: 20px;
}
.container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    margin: 0 auto;
}
.form-group {
    max-width: 33%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}
.alert-warning {
    margin-bottom: 20px;
}
.table-responsive {
    overflow-x: auto; /* Ensure horizontal scrolling for tables */
    width: 100%; /* Full width of container */
}
.table th {
    background-color: #3a86ff;
    color: #f8f9fa;
    font-weight: bold;
    white-space: nowrap; /* Prevent text wrapping in headers */
}
h1 {
    background-color: #3a86ff;
    color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.nav-tabs .nav-link.active {
    background-color: #3a86ff;
    color: #f8f9fa;
}
.nav {
    margin-top: 50px;
}
table.dataTable thead th::before,
table.dataTable thead th::after {
    color: transparent !important;
}
table.dataTable thead tr th:hover::before,
table.dataTable thead tr th:hover::after {
    color: rgba(255, 255, 255, 0.5) !important;
}
table.dataTable thead tr th.sorting_asc::before,
table.dataTable thead tr th.sorting_desc::after {
    color: #f8f9fa !important;
}
.btn-primary {
    background-color: #3a86ff;
    border-color: #3a86ff;
}
.btn-primary:hover {
    background-color: #2b2d42;
    border-color: #2b2d42;
}
canvas {
    max-width: 100%;
    margin-top: 20px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.col-md-6 {
    padding-left: 0;
    padding-right: 0;
    max-width: 50%;
    flex: 0 0 50%;
}
@media (max-width: 768px) {
    .form-group {
        max-width: 100%;
        display: block;
    }
    .container {
        padding: 15px;
    }
    h1 {
        font-size: 1.5em;
    }
    .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
@media (max-width: 480px) {
    .container {
        padding: 10px;
    }
    h1 {
        font-size: 1.2em;
    }
}