<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | ResumePro</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | url }}">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    {% include "partials/analytics.html" %}
</head>
<body>
    {% include "partials/header.html" %}
    
    <main>
        {{ content }}
    </main>
    
    {% include "partials/footer.html" %}
    
    <script src="{{ '/assets/js/script.js' | url }}"></script>
    <script src="/assets/js/clean-urls.js"></script>
    <script src="/assets/js/header.js" defer></script>
    {% if page.url == '/portfolio-templates/' %}
    <script src="/assets/js/portfolio-templates.js"></script>
    {% endif %}
    {% if page.url == '/resume-templates/' %}
    <script src="/assets/js/resume-templates.js"></script>
    {% endif %}
</body>
</html>

